.social, .legal{
    text-align: center;
    margin: 2em 0;
}

.legal{
    font-size: 0.8em;
}

.pixel-heart{
    height: 0.8em;
    margin: 0 0.25em;
}

.social-link{
    font-size: 3em;
    margin-right: 2em;
    display: inline-block;

    &:last-child{
        margin-right: 0;
    }

    &:hover, &:focus{
        -webkit-animation: vacuum 1s ease infinite both;
        -moz-animation: vacuum 1s ease infinite both;
        -o-animation: vacuum 1s ease infinite both;
        -ms-animation: vacuum 1s ease infinite both;
        animation: vacuum 1s ease infinite both;
    }
}

.portfolio, .portfolio:focus, .portfolio:hover{
    color: $website;
}

.facebook, .facebook:focus, .facebook:hover{
    color: $facebook;
}

.linkedin, .linkedin:focus, .linkedin:hover{
    color: $linkedin;
}

.github, .github:focus, .github:hover{
    color: $github;
}
